body{
    background-image: url("../Assets/images/alubg.jpg");
    @extend %back-ground;
    background-size:auto;
    
}
.tv img{
    //background-image: url("../Assets/images/tv-screen2.png");
    padding:none;
   display:block;
  
   @extend %center-element;
   
 
}

#mars_pic{
    display:block;
   
    width:100%;
  
}

.info{
    background-color:white;
    min-height:200px;
}

.curiosty-picture{
    padding-top:20px;
}

.cam-selector img{
    padding-top:.5rem;
    display:block;
    @extend %center-element;}
    




.sol-field input{
    margin-top:10px;
    display:block;
    @extend %center-element;
    text-align:center;
    border-radius:20px;
} 

.mission-info{
    display:block;
  background-color:black;
   margin-top:10px;
   margin-left:10px;
    border-radius:10px;
       box-shadow: 2px 1px grey;
       border: 1px solid grey;
    color:#006400;
    @extend %computer-font;
    
   
}



.info-heading{
    font-weight:400;
    text-align: center;
}

.title img{
    padding-top:5px;
    display:block;
    @extend %center-element;
    padding-bottom:20px;
}



#mars_pic{
    width:800px;
    height:500px;
    border-radius:10px;
    margin-bottom:20px;
    
}

.red{
    color:red;
    font-size: 1em;
    text-transform: uppercase;
   
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*IconColor*/
    width: 60px;
    height: 60px;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#dceaf2 0%, #dceaf2 100%);
    background-image: linear-gradient(#dceaf2 0%, #dceaf2 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.btn .fa {
    line-height: 60px;
}
.btn:active {/*onClick*/
    background-image: -webkit-linear-gradient(#ffffff 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}